@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

@import "@fontsource/montserrat"; 
@import "@fontsource/montserrat/400.css"; 
@import "@fontsource/montserrat/400-italic.css"; 

body {
    font-family: "Montserrat";
}

* 
{
    margin: 0; 
    padding: 0; 
    font-family: sans-serif; 
    box-sizing: border-box; 
}

.navbar
{
    position: sticky; 
    display: flex; 
    justify-content: space-between; 
    overflow: hidden; 
    max-width: 1300px;
    width: 100%;
    z-index: 1;
    background-color: #f4f4f4;
    padding: 2em;
    top: 0;
    align-items: center;
    margin: auto;
}

.navbar-logo
{
    font-weight: bold;
}

/* .menu1 .menu2 .menu3
{
    align-items: right;
} */

.links a
{
    color: #0A5A75;
    margin: auto;
    margin-left: 10px;
    margin-right: 30px; 
    cursor: pointer;
    justify-content: center;
}

.List
{
    margin: 0rem; 
    padding: 0rem;
}

.container 
{
    display: flex; 
    justify-content: center; 
    align-items: left;  
    flex-direction: column;
    padding: 2px -2px;
    margin:  15px 100px 15px 100px;
    background: #f4f4f4;
    border-radius: 5px; 
    max-width: 100%;
    flex-direction: column;
}

/* .container form
{
    display: flex; 
    justify-content: center; 
    align-items: left; 
    min-height: 80vh; 
    flex-direction: column;
    padding: 20px 30px;
    margin: 30px;
    background: #f4f4f4;
    border-radius: 5px; 
    max-width: 100%;
    flex-direction: column;
} */

.container form div
{
    text-align: center;
    margin: 50px; 
    padding: 10px 10px;
    background: none; 
    color: #0A5A75;
}

.container form input
{
    margin: 10px 20px; 
    padding: 10px 10px;
    width: 300px;
    background: none; 
    border: none;
    outline: none; 
    border-bottom: 1px solid #000;
    color: #0A5A75;
}

.container form textarea
{
    margin: 0px 20px; 
    padding: 10px 10px;
    width: 300px;
    background: none; 
    border: none;
    outline: none; 
    border-bottom: 1px solid #000;
    color: #0A5A75;
    resize: none;
}

.container form button
{
    width: 100px; 
    padding: 10px 0px;
    margin: 20px;
    margin-left: 30px;
    cursor: pointer;
    border: none; 
    outline: none; 
    background: #0A5A75;
    color: white; 
}

.title
{
    font-weight: bold;
    font-size: 17px;
}

.container div
{
    text-align: center;
    margin: 50px; 
    padding: 10px 10px;
    background: none; 
    color: #0A5A75;
}

.container input
{
    margin: 10px 20px; 
    padding: 10px 10px;
    width: 300px;
    background: none; 
    border: none;
    outline: none; 
    border-bottom: 1px solid #000;
    color: #0A5A75;
}

.container button
{
    width: 100%; 
    padding: 20px 20px;
    margin: 20px;
    margin-left: 30px;
    cursor: pointer;
    border: none; 
    outline: none; 
    background: #0A5A75;
    color: white; 
    border-radius: 50px; 
}

.form-container {
    display: flex;
    align-items: center; 
}

form {
    width: 50%; 
    margin: 0 auto; 
}

.signIn button
{
    width: 50%; 
    padding: 20px 20px;
    margin: 10px 20px;
    margin-left: 30px;
    cursor: pointer;
    border: none; 
    outline: none; 
    background: #0A5A75;
    color: white;  
    border-radius: 50px; 
    font-size: 14px;
    font-weight: 2px;
}

.searchInputs button
{
    width: 50%; 
    padding: 20px 20px;
    margin: 2px 20px;
    margin-left: 30px;
    cursor: pointer;
    border: none; 
    outline: none; 
    background: #0A5A75;
    color: white;  
    border-radius: 50px; 
    font-size: 14px;
    font-weight: 2px;
}

.results
{
    background: #f4f4f4;
    margin: 3em;
    padding: 50px;
}

.results h3
{
    text-align: center;
    color: #0A5A75;
    font-size: 30px;
    padding: 35px 20px;
}

.card
{
    background: white;
    padding: 30px;
}

.info {
    margin: 1rem; 
}