* 
{
    margin: 0; 
    padding: 0; 
    font-family: sans-serif; 
    box-sizing: border-box; 
}

.container form
{
    display: flex; 
    justify-content: center; 
    align-items: left; 
    min-height: 80vh; 
    flex-direction: column;
    padding: 20px 30px;
    margin: 30px;
    background: #f4f4f4;
    border-radius: 5px; 
    max-width: 100%;
    flex-direction: column;
}

.container form div
{
    text-align: center;
    margin: 50px; 
    padding: 10px 10px;
    background: none; 
    color: blue;
}

.container form input
{
    margin: 10px 20px; 
    padding: 10px 10px;
    width: 300px;
    background: none; 
    border: none;
    outline: none; 
    border-bottom: 1px solid #000;
    color: blue;
}

.container form textarea
{
    margin: 0px 20px; 
    padding: 10px 10px;
    width: 300px;
    background: none; 
    border: none;
    outline: none; 
    border-bottom: 1px solid #000;
    color: blue;
    resize: none;
}

.container form button
{
    width: 100px; 
    padding: 10px 0px;
    margin: 20px;
    margin-left: 30px;
    cursor: pointer;
    border: none; 
    outline: none; 
    background: blue;
    color: white; 
}